1. An Institution wishes to find out their student’s ability in
mathematics, reading and writing skills. The Institution
wants to do an exploratory study to check the following
information.

a. Find out how many males and females participated in
the test

In [2]:
import pandas as pd

df = pd.read_csv('/content/Students_Performance (1).csv')
df.head()
df.columns

gender_counts = df['gender'].value_counts()
gender_counts

gender
female    518
male      482
Name: count, dtype: int64

b. What do you think about the students' parental level of
education?

In [3]:

parental_education_counts = df['parental level of education'].value_counts()
parental_education_counts

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

c. Who scores the most on average for math, reading and
writing based on

i. Gender

ii. Test preparation course

In [4]:

#based on gender
average_scores_gender = df.groupby('gender')[['math score', 'reading score', 'writing score']].mean()
print("Average Scores based on Gender:")
print(average_scores_gender)

# based on test preparation course
average_scores_preparation = df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()
print("\nAverage Scores based on Test Preparation Course:")
print(average_scores_preparation)

Average Scores based on Gender:
        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

Average Scores based on Test Preparation Course:
                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

d. What do you think about the scoring variation for
math, reading and writing based on

i. Gender

ii. Test preparation course

In [5]:
# i. Calculate standard deviation of scores based on gender
std_scores_gender = df.groupby('gender')[['math score', 'reading score', 'writing score']].std()
print("Standard Deviation of Scores based on Gender:")
print(std_scores_gender)

Standard Deviation of Scores based on Gender:
        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

In [6]:
# ii.  Calculate standard deviation of scores based on test preparation course
std_scores_preparation = df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].std()
print("\nStandard Deviation of Scores based on Test Preparation Course:")
print(std_scores_preparation)

Standard Deviation of Scores based on Test Preparation Course:
                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

e. The management needs your help to give bonus points
to the top 25% of students based on their math score,
so how will you help the management to achieve this.

In [7]:
# Calculate the 75th percentile of the math score
percentile_75 = df['math score'].quantile(0.75)

# Identify the top 25% of students based on math score
top_25_percent_students = df[df['math score'] >= percentile_75]
print("Top 25% Students based on Math Score:")
print(top_25_percent_students)

# Optionally, you can add bonus points to these students
# Assuming you want to add 5 bonus points to their math score
df.loc[df['math score'] >= percentile_75, 'math score'] += 5

Top 25% Students based on Math Score:
     gender race/ethnicity parental level of education         lunch  \
414  female        group A                 high school  free/reduced
415  female        group B             master's degree  free/reduced
416  female        group B           bachelor's degree  free/reduced
417  female        group B             master's degree      standard
418  female        group B                 high school      standard
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
414               completed          77             88             85
415               completed          77             97             94
416                    none          77             85             87
417                    none          77             90             84
418               completed          77             82             89
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[255 rows x 8 columns]

--------------------------------------------------------------------------------

2. A company started to invest in digital marketing as a new
way of their product promotions. For that they collected
data and decided to carry out a study on it.


a. The company wishes to clarify whether there is any
increase in sales after stepping into digital marketing.

In [8]:

sales_data = pd.read_csv('/content/Sales_add (1).csv')


sales_data.head(), sales_data.columns

(     Month      Region      Manager  Sales_before_digital_add(in $)  \
 0  Month-1  Region - A  Manager - A                          132921
 1  Month-2  Region - A  Manager - C                          149559
 2  Month-3  Region - B  Manager - A                          146278
 3  Month-4  Region - B  Manager - B                          152167
 4  Month-5  Region - C  Manager - B                          159525

    Sales_After_digital_add(in $)
 0                         270390
 1                         223334
 2                         244243
 3                         231808
 4                         258402  ,
 Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
        'Sales_After_digital_add(in $)'],
       dtype='object'))

In [11]:
# a.  The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.


from scipy.stats import ttest_rel

sales_before = sales_data['Sales_before_digital_add(in $)']
sales_after = sales_data['Sales_After_digital_add(in $)']

t_stat, p_value = ttest_rel(sales_before, sales_after)
print("Paired t-test results:")
print(f"T-statistic: {t_stat}, P-value: {p_value}")


if p_value < 0.05:
    print("There is a significant increase in sales after digital marketing.")
else:
    print("There is no significant increase in sales after digital marketing.")

Paired t-test results:
T-statistic: -12.09070525287017, P-value: 6.336667004575778e-11
There is a significant increase in sales after digital marketing.

In [12]:
# b. The company needs to check whether there is anydependency between the features “Region” and “Manager”.


from scipy.stats import chi2_contingency

# contingency table
contingency_table = pd.crosstab(sales_data['Region'], sales_data['Manager'])

#chi-square test
chi2_stat, p_val, dof, ex = chi2_contingency(contingency_table)
print("Chi-square test results:")
print(f"Chi2 Statistic: {chi2_stat}, P-value: {p_val}")


if p_val < 0.05:
    print("There is a significant dependency between Region and Manager.")
else:
    print("There is no significant dependency between Region and Manager.")

Chi-square test results:
Chi2 Statistic: 3.050566893424036, P-value: 0.5493991051158094
There is no significant dependency between Region and Manager.